   h1{
        color: rgb(27, 27, 27)
    }
    .text1{
        text-decoration: underline;
        font-size: 4vw;
        transition: all 1s linear;
    }
    .text1:hover{
        font-size: 8vw;
        color: crimson;
    }
    #link_a{
        text-decoration: none;
        font-size: 40px;
        color: brown;
        width: 100%;
    }